<%= form_for(@titlereceipt) do |f| %>
  <% if @titlereceipt.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@titlereceipt.errors.count, "error") %> prohibited this titlereceipt from being saved:</h2>

      <ul>
      <% @titlereceipt.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!--<div class="field">
    <%= f.label :po_no %><br />
    <%= f.text_field :po_no %>
  </div>-->
  <div class="field">
    <%= f.label :invoice_no %><br />
    <%= f.text_field :invoice_no %>
  </div>
  <div class="field">
    <%= f.label :isbn %><br />
    <%= f.text_field :isbn %>
  </div>
  <div class="field">
    <%= f.label :box_no %><br />
    <%= f.text_field :box_no %>
  </div>
  <div class="field">
    <%= f.label :supplier_id %><br />
    <%= f.text_field :supplier_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
