<%= form_for(@bill) do |f| %>
  <% if @bill.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bill.errors.count, "error") %> prohibited this bill from being saved:</h2>

      <ul>
      <% @bill.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date_of_billing %><br />
    <%= f.date_select :date_of_billing %>
  </div>
  <div class="field">
    <%= f.label :bookfair_id %><br />
    <%= f.text_field :bookfair_id %>
  </div>
  
	<table id='billitems_table' style="width:20%">
		<tr><th>ISBN</th></tr>
		<%= f.fields_for :billitems do |builder| -%>
			<%= render 'billitem_fields', :f => builder %>
		<% end -%>
	</table>
		
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
