<p id="notice"><%= notice %></p>

<p>
  <b>Date of billing:</b>
  <%= @bill.date_of_billing %>
</p>

<p>
  <b>Gross Amount:</b>
  <%= @bill.grossamt %>
</p>

<p>
  <b>Net Amount:</b>
  <%= @bill.netamt %>
</p>

<p>
  <b>Quantity:</b>
  <%= @bill.quantity %>
</p>


<%= link_to 'Edit', edit_bill_path(@bill) %> |
<%= link_to 'Back', bills_path %>
